.footer-section {
  background: #020b1c;
  color: #fff;
  padding-top: 80px;
}

.footer-top {
  padding-bottom: 50px;
}

.footer-section h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-section p {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 26px;
}

.footer-logo h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  color: #bdbdbd;
  cursor: pointer;
}

.footer-links li:hover {
  color: #ff0057;
}

.newsletter {
  display: flex;
  margin-top: 20px;
}

.newsletter input {
  border-radius: 0;
  border: none;
}

.send-btn {
  background: linear-gradient(45deg,#ff0057,#ff00a6);
  border: none;
  padding: 10px 15px;
  color: white;
}

.footer-bottom {
  border-top: 1px solid #222;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 14px;
}

.footer-bottom span {
  color: #ff0057;
}