.logo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;
    z-index: 10;
}


.logo-img {
    height: 80px;
    opacity: 0.35;
    filter: grayscale(100%) brightness(1.5);
    transition: 0.3s ease;
}

.logo-img:hover {
    opacity: 1;
    filter: grayscale(0) brightness(1);
    transform: scale(1.1);
}